@-moz-document domain(youtube.com) {
/* hide shorts, trending and banners */
#content.ytd-rich-section-renderer {display: none !important;}
}

@-moz-document domain(html.duckduckgo.com) {
body { background: rgb(28, 28, 28) !important; }
input { color: #ffffff !important; }
.search { background-color: rgb(38, 38, 38) !important; }
}
