#!/bin/sh

export GTK_THEME="Adwaita:dark"
export QT_STYLE_OVERRIDE="Adwaita-Dark"
export GTK2_RC_FILES="/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc"

[[ "$USER_WM" == "dwm" ]] && slstatus &
command -v picom && picom &
command -v dunst && dunst &
command -v transmission-daemon && transmission-daemon -f --log-level=error &
command -v element-desktop && element-desktop --hidden &
command -v flameshot && flameshot &
command -v nm-applet && nm-applet &
systemctl --user start change-wallpaper.timer
xset r rate 150 60
setxkbmap -option ''
xset -dpms
xset s off
