#!/bin/sh

export GTK_THEME="Adwaita:dark"
export QT_STYLE_OVERRIDE="Adwaita-Dark"
export GTK2_RC_FILES="/usr/share/themes/Adwaita-dark/gtk-2.0/gtkrc"
export XPROFILE_LOG="/tmp/xprofile_startup.log"


LOGSIZE=$(stat --printf="%B" $XPROFILE_LOG)
if [ $LOGSIZE -gt 1000000 ]; then # log file size >1MiB ?
    truncate -s0 $XPROFILE_LOG
fi


[ "$USER_WM" == "dwm" ] && slstatus &
command -v picom && picom --config "$HOME/.config/picom/picom.conf" 2>>$XPROFILE_LOG &
command -v dunst && dunst 2>>$XPROFILE_LOG &
command -v transmission-daemon && transmission-daemon -f --log-level=error &
#command -v element-desktop && element-desktop --hidden &
command -v flameshot && flameshot 2>>$XPROFILE_LOG &
command -v nm-applet && nm-applet 2>>$XPROFILE_LOG &
command -v signal-desktop && signal-desktop 2>>$XPROFILE_LOG &
command -v xrandr && xrandr --refresh 120
command -v twitch-indicator && twitch-indicator &
feh --no-fehbg --bg-fill ~/pics/batman.jpg
#systemctl --user start change-wallpaper.timer 2>>$XPROFILE_LOG
xset r rate 150 60
setxkbmap -option ''
xset -dpms
xset s off
